section .main-container .image{
    width: 300px !important;
    height: 45dvh !important;
    max-height: 50dvh !important;
}
/*--------------------my projects--------------------------------------*/
.my-projects .content .cards{
    width: 90% !important;
}