nav .nav-container .logo{
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 1.5rem;
}
nav .nav-container .links{
    display: none;
}
nav .nav-container .dropdown{
    display: block !important;
}
nav .nav-container .dropdown .links{
    display: block;
}
.hamburger, .cancel{
    display: block !important;
    color: white;
}
section .main-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: unset !important;
    padding: 20px;
    gap: 40px;
}
section .main-container .image{
    z-index: -1;
    width: auto !important;
    max-height: 30dvh !important;
    overflow: hidden;
    box-shadow:0 0 50px #077b32;
}
section .main-container .image img{
    height: 50dvh !important;
    max-height: 50dvh !important;
}
section .main-container .content{
    width: 90% !important;
}
section .main-container .content .social-links i{
    width: 2.5rem !important;
    height: 2.5rem !important;
    font-size: 1.5rem !important;
}
section .main-container .content .btn>a{
    width: 60% !important;
    padding: 10px 20px !important;
    font-size: 18px !important;
}
/*----------------------------About me section------------------------ */
.about .content{
    width: 90% !important;
}
.about .content .about-details{
    flex-flow: column nowrap;
    justify-content: start !important;
    gap: 40px !important;
    min-height:auto !important;
}
.about .content .about-details .left{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
}
.about .content .about-details .left img{
    height: 280px !important;
    width: 280px !important;
    box-shadow: 0 0 15px 2px #077b32, 0 0 20px 5px #077b32 !important;
}
.about .content .about-details .right{
    width: 100% !important;
}
.about .content .about-details .right .about-text{
    font-size: clamp(.8rem, .5rem + 10vw, 1.2rem) !important;
    margin-bottom: 20px;
}
.about .content .about-details .right .exp-area{
    gap: 10px !important;
}
.about .content .about-details .right .exp-area p{
    font-size: clamp(.8rem, .5rem + 10vw, 1.2rem) !important;
}
.about .content .about-details .right .button a{
    padding: 7px 20px !important;
}
/*skills section */
.skills .content .skills-detail{
    width: 90% !important;
    height:auto  !important;
    flex-flow: column nowrap !important;
}
.skills .content .skills-detail .text{
    width: 100% !important;
}
.skills .content .skills-detail .skills_logos{
    width: 100% !important;
}
.skills .content .skills-detail .skills_logos .swiper {
    height: 300px !important;
    padding: 10px !important;
    margin-top: 10px !important;
}
.skills .content .skills-detail .skills_logos .swiper .swiper-pagination {
    height: 18px;
}
.skills .content .skills-detail .skills_logos .swiper-slide {
    text-align: center;
    height: calc((100% - 80px) / 2) !important;
    width: 150px !important;
    /* Center slide text vertically */
}
.skills .content .skills-detail .skills_logos .swiper-slide .box{
    width: 80% !important;
    height:80% !important;
    cursor: context-menu;
}

/*-----------------------------   Projects ---------------------------------------*/
.my-projects .content .cards{
    padding-top: 20px !important;
    grid-template-columns: repeat(2,minmax(200px, 1fr)) !important;
    gap: 40px 90px !important;
}

/*-------------------------------Contact Me ---------------------------------------*/
.contact .content{
    width: 90% !important;
}
.contact .content .text {
    width: 100% !important;
}