section .main-container .image img{
    height: 50dvh !important;
    max-height: 50dvh !important;
}
/*skills section */
.skills .content .skills-detail .skills_logos{
    height: 280px !important;
}
.skills .content .skills-detail .skills_logos .swiper {
    height: 300px !important;
    padding: 5px !important;
    margin-top: 130px !important;
}
.skills .content .skills-detail .skills_logos .swiper-slide .box{
    width: 80% !important;
    height:95% !important;
    cursor: context-menu;
}

/*-----------------------------------   Projects -------------------------------------------*/
.my-projects .content .cards{
    gap: 20px 50px !important;
}
/*-------------------------------   Contact Us ---- ---------------------------------------*/
.contact .content .text .contact-form-container{
    padding: 10px !important;
}