section .main-container .content .social-links a:last-child {
    display: none;
}
section .main-container .content .btn>a{
    width: 70% !important;
    padding: 0 20px !important;
}
/*--------------------------About me section-------------------------------------*/
.about{
    margin-top: 20px;
}
.about .content .about-details{
    gap: 25px !important;
}
.about .content .about-details .left img{
    height: 180px !important;
    width: 180px !important;
}
.about .content .about-details .right .about-text{
    font-size: clamp(.5rem, .2rem + 10vw, 1rem) !important;
}
.about .content .about-details .right .exp-area{
    margin-top: 15px;
}
.about .content .about-details .right .exp-area p{
    font-size: clamp(.5rem, .2rem + 10vw, 1rem) !important;
}
.about .content .about-details .right .button a{
    padding: 1px 3px !important;
}
/*skills */
.skills{
    margin-top: 40px;
}
.skills .content .skills-detail .text .experience .num{
    font-size: 60px !important;
}
.skills .content .skills-detail .skills_logos .swiper {
    height: 190px !important;
    padding: 5px !important;
    margin-top: -50px !important;
}
.skills .content .skills-detail .skills_logos .swiper-slide .box{
    width: 100% !important;
    height:100% !important;
    cursor: context-menu;
}
.skills .content .skills-detail .skills_logos .swiper-slide .box img{
    width: 90% !important;
    height:110% !important;
}

/*-----------------------------   Projects ---------------------------------------*/
.my-projects .content .cards{
    grid-template-columns: repeat(1,minmax(200px, 1fr)) !important;
    row-gap: 50px !important;
}
/*-----------------------------    Contact Us     ---------------------------------------*/
.contact .content .text .topic{
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}
.contact .content .text p{
    font-size: .9rem;
    padding: 10px 0 !important;
}
.contact .content .text .contact-form-container .contact-form{
    padding: 5px !important;
}
.contact .content .text .contact-form-container .contact-form input[type=submit]{
    font-size: 1rem !important;
}